<!DOCTYPE html>
<html>
    <head>
        <title>Weight Tracker</title>
        <link rel="icon" href="{{ url_for('static', filename='WorkoutIcon.jpeg') }}">
    </head>

<body>
    <p>This is the Weight Tracker!</p>

    <form method="POST">
        <label for="weight_value">Weight This Week:</label><br><br>
        <input type="text" id="weight_value" name="weight_value"><br><br>
        <button name="action" value="save">Save Weight</button><br><br>
        <button name="action" value="last">Load Last Weight</button><br><br>

        {% if weight %}
            <p>This weight has been saved!:</p>
            <pre>{{ weight }} KG</pre>
        {% endif %}

        {% if last_weight %}
            <p>This was your last recorded Weight:</p>
            <pre>{{ last_weight }} KG</pre>
        {% endif %}



    </form>




</body>


</html>